@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

#flexColumn{
  display: flex;
  flex-direction: column;
}

.venueMap {
  margin-top: auto;
}

.user-page {
  .admission-preferences {
    padding-top: 100px;
  }
  .heading-section {
    margin-bottom: 50px;
  }
}

.events-index {
  .column {
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    .title {
      margin-top: 10px;
    }
    .exhibition-description {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    .image {
      max-height: 300px;
      align-self: flex-start;
    }
  padding: 20px;
  }
}


.avatar-form {
  .label {
    padding-bottom: 20px;
  }
  padding-bottom: 40px;
}

.options-menu {
  margin: 60px auto;
  max-width: 500px;
}
.contacts {
  .columns {
    .column {
      margin: 30px;
      padding: 40px 0;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .image {
        margin: 20px;
      }
    }
  }
}
.user-avatar {
  margin-bottom: 20px;
}

.profile-info {
  height: 60vh;
  padding-top: 100px;
  width: 300px;
  margin-bottom: 80px;
}


.events-by-you {
  .columns {
    .column {
      height: 450px;
      .image {
        max-height: 400px;
      }
    }
  }
}

.new-event-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.button {
  margin-top: 20px;
}

.line-break {
  max-width: 500px;
}
